body {
    margin: 0;
    box-sizing: border-box;
    background-color: #c3c3c3;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.cube{
    width: 500px;
    height: 300px;
    background-color: #f3f3f3;
    border-radius: 2em;
    box-shadow: 5px 5px 15px rgba(0,0, 0,0.5);
    animation: sirenje 5s infinite;
    animation-direction:alternate;
}
@keyframes sirenje {
    0% {
        width: 500px;
        background-color: #f3f3f3;
        border-radius: 2em;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5);
        height: 300px;
    }
    40% {
        width: 100px;
        height: 300px;
        background-color: #f3f3f3;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5);
        border-radius: 2em;
    }
    65% {
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5);
        border-radius: 2em;
    }
    70% {
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5),1px 1px 1px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    71% {
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 4px 4px 12px rgba(0,0, 0,0.5),3px 3px 7px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }

    72% {
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 3px 3px 7px rgba(0,0, 0,0.5),4px 4px 12px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    73% {
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 1px 1px 1px rgba(0,0, 0,0.5),5px 5px 15px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    74% {
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 1px 1px 1px rgba(0,0, 0,0.5),4px 4px 12px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    75%{
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 3px 3px 7px rgba(0,0, 0,0.5),3px 3px 7px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    76%{
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 4px 4px 12px rgba(0,0, 0,0.5),2px 2px 5px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    77%{
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 4px 4px 13px rgba(0,0, 0,0.5),2px 2px 3px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    78% {
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 4px 4px 14px rgba(0,0, 0,0.5),1px 2px 3px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    79%{
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5),1px 1px 3px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;

    }
    80%{
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5),1px 1px 2px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;

    }
    81% {
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5),1px 1px 2px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    82%{
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5),1px 1px 1px rgba(0,0, 0,0.5) inset;
        border-radius: 2em;
    }
    83%{
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5);
        border-radius: 2em;
    }
     100%{
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        box-shadow: 5px 5px 15px rgba(0,0, 0,0.5);
        border-radius: 2em;
     }
}